# Ignore everything
*

# Allow specific files or directories
!.gitignore              # The .gitignore file itself
!requirements.txt        # Dependency file
!README.md               # Project documentation
!setup.py

# Include the Python package directory
!medimgen/
!medimgen/__init__.py
!medimgen/configuration.py
!medimgen/data_processing.py
!medimgen/preprocess_dataset.py
!medimgen/train_ddpm.py
!medimgen/train_ldm.py
!medimgen/train_autoencoder.py
!medimgen/utils.py

# Allow the folder
!medimgen/configs/
# Ignore all files in the folder
medimgen/configs/*
# Allow the specific file
!/medimgen/configs/config.yaml
