# Ignore everything
*

# Allow specific files or directories
!.gitignore
!/configuration.py
!/data_processing.py
!/main.py
!/requirements.txt
!/training.py
!/README.md

# Allow the folder
!configs/
# Ignore all files in the folder
configs/*
# Allow the specific file
!/configs/config.yaml
